{% extends 'music/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Album Details{% endblock %}</title>
</head>
<body>
{% block body %}
    <div class="row rowurs">

    <div class="col-md-4">
        <div class="breif">
    <img src="{{ album.logo.url }}">
    <h1>{{ album.album_title }}</h1>
    <h3>{{ album.artist }}</h3>
    </div>
    </div>

    <div class="col-md-8">

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


    <button class="btn btn-primary">View all</button>
    <a class="text-primary" href="#">Add Song</a><br>

    <h1 class="text-primary">All Songs</h1>
    <div class="music-details">

    <div class="row">
    <h3 class="text-primary col-md-4 text-center">Song Name</h3>
    <h3 class="text-primary col-md-4 text-center">File Type</h3>
    <h3 class="text-primary col-md-4 text-center">Action</h3>


    <div class="songs">
    {% for song in album.song_set.all %}
        <p1 for="song{{ forloop.counter }}" class="text col-md-4">
            {{ song.song_title }}

        </p1>

        <p1 class="text col-md-4" >{{ song.file_type }}</p1>
        <p1 class="text col-md-4" ><i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-save"></i> </p1>
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
</body>
</html>