<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

{% extends 'music/base.html' %}
{% block body %}
{% if all_albums %}
    <div class="text-center">
        {% for album in all_albums %}
            <div class="col-md-4 ">
            <div class="display-area">
            <center>
            <img src="{{ album.logo }}" class="img-responsive"></center>
                <h2 class="text-primary">{{ album.album_title }}</h2>
                <h3>{{ album.artist }}</h3>
            <div class="row">
            <a href="{% url 'music:detail' album.id %}"><button class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Detail</button> </a>
                <a href="#" ><button class="btn btn-danger"><i class="glyphicon glyphicon-trash" ></i></button> </a>
            </div></div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <h3>You Dont have any Albums</h3>
{% endif %}
{% endblock %}
</body>
</html>